<%- include("partials/header") %>

<div class="bg container mb-5">
    <h1 class="text-center home">LOOKING FOR A MOVIE OR SERIES??</h1>

<form action="/results" method="GET" class="w-100 mt-5">
    <input type="text" name="movie" maxlength="40" class="p-2 text-center mb-5" placeholder="Batman maybe?">
    <button type="submit" class="btn btn-lg btn-block">SEARCH</button>
</form>

</div>



<%- include("partials/footer") %>